---
import Youtube from "../icons/Youtube.astro"
import Twitch from "../icons/Twitch.astro"
import Instagram from "../icons/Instagram.astro"

import ActivityItem from "./ActivityItem.astro"
---

<section class="mb-12">
  <div
    class="bg-black/40 border border-blue-500/30 backdrop-blur-sm rounded-lg"
  >
    <div class="p-6">
      <h3 class="text-white text-xl font-semibold mb-6">Recent Activity</h3>

      <div class="space-y-4">
        <ActivityItem
          icon={Youtube}
          color="text-red-400"
          title="New video uploaded"
          subtitle="Epic Gaming Moments Compilation"
          date="2 days ago"
        />
        <ActivityItem
          icon={Twitch}
          color="text-purple-400"
          title="Streamed for 6 hours"
          subtitle="Cyberpunk 2077 playthrough"
          date="3 days ago"
        />
        <ActivityItem
          icon={Instagram}
          color="text-pink-400"
          title="Posted new photo"
          subtitle="Behind the scenes of my setup"
          date="1 week ago"
        />
      </div>
    </div>
  </div>
</section>
