---
const { icon: Icon, label, href, classes = "" } = Astro.props
---

<a
  href={href}
  target="_blank"
  class={`h-16 text-white flex items-center justify-center gap-2 rounded-lg ${classes}`}
>
  <Icon class="h-6 w-6" />
  {label}
</a>
