---
import YoutubeVideos from "./video/YoutubeVideos.astro"
import TikTokContent from "./video/TikTokContent.astro"
---

<section class="mb-12">
  <div class="grid lg:grid-cols-2 gap-8">
    <YoutubeVideos />
    <TikTokContent />
  </div>
</section>
