---
const { icon: Icon, href } = Astro.props
---

<a
  href={href}
  class="transition hover:scale-110 hover:text-white"
  target="_blank"
  rel="noopener noreferrer"
>
  <Icon class="w-5 h-5 text-gray-400" />
</a>
